<a href="{{ admin.generateObjectUrl('suspicious', object) }}" class="btn delete_link btn-small" title="{{ "Mark a user as suspicious" | trans }}">
    <i class="icon-warning-sign"></i>
    {{ "Suspicious user" | trans }}
</a>